.profile__edit-button {
    border: none;
    min-width: 24px;
    min-height: 24px;
    background: url(../../../images/Edit_Button.png) no-repeat;
    align-self: center;
    padding: 0;
    z-index: 150;
    opacity: 1;
    transition: opacity 0.3s ease-in;
    -webkit-transition: opacity 0.3s ease-in;
    -moz-transition: opacity 0.3s ease-in;
    -ms-transition: opacity 0.3s ease-in;
    -o-transition: opacity 0.3s ease-in;
    cursor: pointer;
}

.profile__edit-button:hover {
    opacity: 0.6;
}