.popup__input-description {
    width: 100%;
    border: none;
    margin: 0 auto;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding: 0 0 13px;
    position: relative;
    outline: none;
}

.popup__input-description:first-of-type {
    margin-bottom: 30px;
}

.popup__input-description::-webkit-input-placeholder {
    color: #000;
}

.popup__input-description:-ms-input-placeholder{ 
    color: #000;
}